.feedbackBtn {
  width: 120px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  width: 90px;
  font-weight: bold;
  margin: auto;
  padding: 5px 5px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #b3f254;
}

.feedbacDiv {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.feedbackBtn:hover {
  background: #2f74d4;
  color: #e5ff1e;
  border: none;
}
